<div class="main">

  <div class="container ">
    <p class="titulo">Empresa especializada no desenvolvimento de sistemas</p>
    <br>
    <p class="text">
      A Data Cempro é uma empresa que há mais de trinta anos atende o mercado de sistemas contábeis com produtos de fácil usabilidade e com a melhor relação custo x benefício para o uso das tecnologias modernas.
    </p><br>
    <p class="text">
      Desde 1986, a Data Cempro Software vem acompanhando as contínuas mudanças tecnológicas exigidas pelo mercado. E é através da agilidade neste processo de mudança que nossos clientes hoje podem atestar a segurança que proporcionamos através dos nossos sistemas e serviços, o que também nos garantiu a conquista do prêmio Top Informática Rio Grande do Sul e o sucesso em todas as feiras e eventos das quais participamos.
    </p><br>
    <p class="text">
      Desde 1986, a Data Cempro Software vem acompanhando as contínuas mudanças tecnológicas exigidas pelo mercado. E é através da agilidade neste processo de mudança que nossos clientes hoje podem atestar a segurança que proporcionamos através dos nossos sistemas e serviços, o que também nos garantiu a conquista do prêmio Top Informática Rio Grande do Sul e o sucesso em todas as feiras e eventos das quais participamos. Fundada por Edson Salles e atualmente dirigida por ele, a Data Cempro possui como diferencial a relação próxima e o contato direto entre dirigentes, clientes e colaboradores. Hoje somos mais de 8.000 amigos envolvidos neste laço de responsabilidade e respeito possibilitando, assim, uma comunicação eficiente e franca, o fácil acesso às necessidades de nossos clientes, e o desenvolvimento de sistemas adequados para diversas realidades.
    </p><br>
    <p class="text">
      É desta forma que evoluímos com o passar do tempo. Hoje, não apenas comercializamos sistemas contábeis, mas sim, soluções de qualidade com a garantia de atendimento e aprendizagem. Trabalhamos com valores como integração, satisfação, empatia e disposição. Para nós, fazer com que os usuários possuam desenvoltura para usufruir de todos os recursos disponíveis em nossos sistemas significa compensação, parceria e, mais importante, sensação de missão cumprida. Por este motivo, nossa busca pela inovação ultrapassa os limites do tempo: exploramos nossa capacidade de produção de sistemas, podemos oferecer atendimento personalizado, prestar treinamentos ministrados por profissionais qualificados e, ainda, mediar decisões junto de nossos parceiros.
    </p>
    <p class="text">
      Podemos afirmar que a Data Cempro é uma empresa completa, formada por pessoas que interagem, criam ideias, quebram paradigmas, trocam soluções e fazem com que nossos produtos se adaptem à nossos clientes, tornando a tecnologia algo facilmente ao alcance de todos. Este é um de nossos focos principais nos dias de hoje. Com determinação e força de vontade construímos esta ponte entre o mundo contábil e os clientes Data Cempro Software.
    </p><br>

  </div>

  <div class="container BGcinza">

    <p class="subtitulo">Missão</p>
    <p class="text">
      Nossa missão é fornecer ao mercado soluções de qualidade em informática para a administração de negócios, buscando a satisfação dos clientes e colaboradores, com ideias inovadoras e investimentos corajosos, visando constante evolução, crescimento e lucro, caracterizando a Data Cempro como uma empresa que sabe aprender.
    </p><br>
    <p class="subtitulo">Valores</p>
    <p class="text">
      Os valores mais estimulados e cultivados na Data Cempro são:
    </p>
    <div class="padding">
      <li>Profissionalismo</li>
      <li>Respeito</li>
      <li>Credibilidade</li>
      <li>Criatividade</li>
      <li>Liberdade</li>
    </div>
    <br>
    <p class="subtitulo">Política da Qualidade</p>
    <p class="text">
      Buscar a melhoria continua da Qualidade em todos os nossos produtos e processos com soluções em software, através de tecnologias inovadoras, acompanhando a evolução do mercado para satisfação dos clientes, colaboradores e parceiros.
    </p><br>

  </div>


</div>


