<footer class="container1">
  <div class="container2">
    <div class='container3'>
      <div class="row">
        <div class='column'>
          <div class="title">
            Endereço
          </div>
          <div class="text padding">
            Av. Mário Tavares Haussen., 240 - City Nova Fase, Cachoeirinha - RS, 94935-797
          </div>
        </div>
        <div class='column'>
          <div class="title">
            Legal
          </div>
          <div class="text" onClick=''>
            Termos de uso
          </div>
          <br />
          <div class="text">
            Política de privacidade
          </div>
        </div>
        <div class='column'>
          <div class="title">
            Contato
          </div>
          <div class="text">
            <p>
              {{"BryanEduardoMR2001@gmail.com"}}
            </p>
          </div>
          <br />
          <div class="text">
            (51) 98638-7699
          </div>
        </div>
        <div class='column'>
          <div class="title">
            Aceitamos
          </div>
          <img src='https://uploaddeimagens.com.br/images/004/799/732/full/Bandeiras.png?1718625213' class="bandeiras" alt="bandeiras" />
          <div class="text">
            *Demais cartões sob contratação.
          </div>
        </div>
        <div class='column right'>
          <img src='https://uploaddeimagens.com.br/images/004/799/733/full/Certificados.png?1718625295' alt="Certificados" />
          <br />
          <br />
        </div>
      </div>
      <div class="row">

        <div class='column right'>
          <img src='https://www.datacempro.com.br/ImagesDTC/Logos/2022/logo_site.png' class= 'logo'alt="Logo" />
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="text center">
          A Datacempro é uma empresa brasileira, registrada no CNPJ nº 92.971.654/0001-80. Reconhecida por sua excelência e inovação, a empresa se dedica a oferecer serviços de alta qualidade. Com integridade e transparência, a Datacempro continua a ser uma escolha confiável para seus clientes no Brasil.
        </div>
      </div>
    </div>
  </div>
</footer>
