<div class="containerMain">
  <div class="container">
    <div class="row title center">
      Depoimentos
    </div>
    <div class="row text center">
      O suporte ao cliente é nossa primeira prioridade.
    </div>
    <div class="row">
      <div class="depositions">
        <div>
          <img class="imgTestimony" [src]="testimony1" alt="Testemunho 1" />
        </div>
        <div>
          <img class="imgDoubleQuotes" [src]="doubleQuotes" alt="Aspas Duplas" />
        </div>
        <div class="testimony">
          A mpays foi a plataforma onde eu tive a maior taxa de aprovação de crédito do mercado.
        </div>
        <div class="name">
          Carlos Eduardo Amaral
        </div>
        <div class="company">
          CEO da Amaral Mídia
        </div>
      </div>
      <div class="depositions">
        <div>
          <img class="imgTestimony" [src]="testimony2" alt="Testemunho 2" />
        </div>
        <div>
          <img class="imgDoubleQuotes" [src]="doubleQuotes" alt="Aspas Duplas" />
        </div>
        <div class="testimony">
          O principal diferencial é a taxa de cartão recusado ser muito baixa, aumentando nossa taxa de conversão e o faturamento.
        </div>
        <div class="name">
          Renato Laureano
        </div>
        <div class="company">
          Fundador da Anellimn Store
        </div>
      </div>
      <div class="depositions">
        <div>
          <img class="imgTestimony" [src]="testimony3" alt="Testemunho 3" />
        </div>
        <div>
          <img class="imgDoubleQuotes" [src]="doubleQuotes" alt="Aspas Duplas" />
        </div>
        <div class="testimony">
          Depois de muito pesquisar, decidi migrar para a mpays e já nas primeiras semanas nossa taxa de conversão subiu para 94%.
        </div>
        <div class="name">
          Armando Girão
        </div>
        <div class="company">
          Fundador da Orion E-commerce
        </div>
      </div>
    </div>
  </div>

</div>
